#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btn {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all .3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.btn>span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  opacity: 0.8;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2))
}

.btn-primary {
  background-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: background-color .3s;
}

.toggle-switch input:checked+.switch {
  background-color: #2196f3;
}

.switch::before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform .3s;
}

.toggle-switch input:checked+.switch::before {
  transform: translateX(20px);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading svg {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}